:root {
  --lighter: #f8f8f8;
  --light: #dbe1e8;
  --tertiary: #b2becd;
  --secondary:#70AEFF;
  --primary: #0A122A;
  --dark: #2a2e35;
  --darker: #12181b;
}

.light{
  --lighter: #f8f8f8;
  --light: #dbe1e8;
  --dark: #2a2e35;
  --darker: #12181b;
  
}

.dark{
  --lighter: #12181b;
  --light: #2a2e35;
  --dark:#dbe1e8 ;
  --darker: #f8f8f8;
}

.link svg{
  height:2rem;
  width:2rem;
}